$orange: #ff8b7b;
$purple: #d8bde2;
$deep-purple: #532563;
$yellow: #fff2d4;
$teal: #a8d5de;
$light-blue: #b2bde6;
$light-gray: #f0f0f0;

$header-background-color: $light-gray;
$header-logo-color: $orange;

$navbar-item-color: $orange;
$navbar-item-hover-color: $deep-purple;
$navbar-item-active-color: $deep-purple;

$text-background-color: rgba(83, 37, 99, 0.8);

// Breakpoints
$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;
$widescreen: 1216px;
